.footer {
  padding: 12.8rem 0;
  border-top: 1px solid #eee;
  &__container {
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
    gap: 6.4rem;
  }
  &__image {
    height: 2.2rem;
  }
  &__sns {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 6.6rem;
  }
}
