.header {
  &__container {
    padding: 2.7rem 4.8rem;
    background-color: $primary-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__image {
    height: 2.2rem;
  }
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 4.8rem;
    list-style-type: none;
  }
  &__item {
    &:last-child {
      padding: 1.2rem 2.4rem;
      color: #fff;
      background-color: $secondary-color;
      border-radius: 0.9rem;
    }
  }
  &__link {
    color: $heading-color;
    font-weight: 500;
    line-height: 1;
  }
}
