.hero {
  background-color: $primary-color;
  &__container {
    max-width: 130rem;
    margin: 0 auto;
    padding: 0 3.2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 9.6rem;
  }
  &__desc {
    margin-bottom: 4.8rem;
  }
  &__meals {
    margin-top: 8rem;
    display: flex;
    align-items: center;
    gap: 3.2rem;
    &-customer {
      display: flex;
      img {
        width: 4.8rem;
        height: 4.8rem;
        border-radius: 100rem;
        border: 3px solid $primary-color;
        margin-right: -1.6rem;
      }
    }
    &-delivered {
      font-weight: 600;
      span {
        color: $secondary-color;
      }
    }
  }
}
