.hero {
  background-color: $primary-color;
  &__container {
    max-width: 130rem;
    margin: 0 auto;
    padding: 0 3.2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 9.6rem;
  }
  &__desc {
    margin-bottom: ;
  }
}
