.meals {
  &__heading {
    text-align: center;
    margin-bottom: 9.6rem;
  }
  &__sub-heading {
    text-align: center;
  }
  &__box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0 6.4rem;
    margin-bottom: 4.8rem;
  }
  &__meal {
    border-radius: 1.1rem;
    overflow: hidden;
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.08);
  }
  &-bottom {
    padding: 3.2rem 4.8rem 4.8rem;
  }
  &__tag {
    display: inline-block;
    padding: 0.4rem 0.8rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: $heading-color;
    border-radius: 100rem;
    font-weight: 600;
    margin-bottom: 1.2rem;
    &--vegetarian {
      background-color: #51cf66;
    }
    &--paleo {
      background-color: #ffd43b;
    }
  }
  &__title {
    font-size: 2.4rem;
    color: $heading-color;
    font-weight: 600;
    margin-bottom: 3.2rem;
  }
  &__attributes {
    list-style-type: none;
  }
  &__item {
    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }
}
