.testimonials {
  margin-bottom: 9.6rem;
  background-color: $primary-color;
  display: grid;
  grid-template-columns: 55fr 45fr;
  align-items: center;
  &__container {
    padding: 9.6rem;
  }
  &__heading {
    margin-bottom: 9.6rem;
  }
  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4.8rem 8rem;
    list-style-type: none;
  }
  &__image {
    width: 6.4rem;
    border-radius: 50%;
    margin-bottom: 1.2rem;
  }
  .gallery__item {
    overflow: hidden;
  }
  &__gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
    padding: 1.6rem;
  }
}
